.App {
    display: block;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: var(--text-1);
}

.header > a {
    text-decoration: none;
    color: var(--text-2);
    font-size: 48px;
}

.nav-list {
    display: flex;
}

.nav-list > a {
    text-decoration: none;
    color: var(--text-1);
    margin: 0.5em 1em;
    padding: .25em 0.5em;
    border-radius: 50em;
    font-size: 20px;
    transition: all 200ms ease-in;
    z-index: 999;
}

.nav-list > a:hover {
    background-color: var(--text-1);
    color: var(--surface2);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}