* {
  /* Theme variables */
  --green: #97ce4c;
  --blue: #01b0c8;
  --surface1: #2e3538;
  --surface2: #484e50;
  --text-1: #b6c2c9;
  --text-2: #6b94a5;
  --surface-shadow: var(--surface1);
  --shadow-strength: .02;
}

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid transparent;
  background: linear-gradient(45deg, var(--blue), var(--green) 55%);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.rad-shadow {
  box-shadow:
    0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength))
  ;
}

.text1 {
  color: var(--text-1);
  font-weight: 200;
}

.text2 {
  color: var(--text-2);
}


.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.content {
  margin: 0;
  padding: 0;
}
