.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 8px;
    padding: 3em;
    color: var(--text-2);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    color: var(--text-1);
    padding: 1em;
}

.card-body {
    color: --var(--text-2);
    display: flex;
    width: 100%;
}

.body-item {
    margin: 1em;
}

.info {
    display: flex;
    flex-direction: column;
}

.card-body > img {
    width: 100%;
    max-width: 15em;
    height: auto;
    border-radius: 0 8px 0 8px;
}


.Alive, .Dead, .unknown {
    width: fit-content;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 8px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.Alive {
    background: #97ce4c;
    color: var(--text-2)
}

.Dead {
    background: #ff5555;
}

.unknown {
    background: var(--text-1);
}

@media screen and (max-width: 768px) {
   .card {
       padding: 0.5em;
       display: block;
   }

   .card-body {
       display: block;
   }
}