.card {
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.body-item {
    margin: 1em;
}

.card > img {
    width: 100%;
    max-width: 20em;
    height: auto;
    margin: 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.Alive, .Dead, .unknown {
    width: fit-content;
    padding: .25rem .5rem .25rem .5rem;
    border-radius: 8px;
    color: #282828;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.Alive {
    background: #97ce4c;
}

.Dead {
    background: #ff5555;
}

.unknown {
    background: #bdbdbd;
}