.card-container {
    padding: 1em;
    display: grid;
    gap: 2em;
    place-content: center;
    grid-template-columns: auto auto;
    margin-top: 2em;
}

.pagination-row {
    display: flex;
    justify-content: space-between;
}

.pag-button {
    margin: 1em;
    border-radius: 50%;
    padding: 1em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}