
.content {
  margin-top: -20rem;
  margin-left: 15rem;
  display: grid;
  gap: 0.5em;
  place-content: center;
  grid-template-columns: auto auto auto auto auto;
  transform-style: preserve-3d;
  transform: rotateY(15deg) rotateX(65deg) rotateZ(-25deg);
}