
.content {
  display: grid;
  place-content: center;
  grid-template-columns: auto auto;
  margin-top: 2em;
  transform-style: preserve-3d;
  transform: rotateY(15deg) rotateX(65deg) rotateZ(-25deg);
}